/* Variables:
  ========================================================================== */

// font
$font_family: 'Roboto';

//font-weight
$regular: 400;
$medium: 500;
$bold: 700;

//font-size

$font_48px: 3rem;
$font_32px: 2rem;
$font_28px: 1.75rem;
$font_24px: 1.5rem;
$font_20px: 1.25rem;
$font_18px: 1.125rem;
$font_16px: 1rem;
$font_14px: 0.875rem;
$font_10px: 0.625rem;

//line-height
$lineHeight56px: 3.5rem;
$lineHeight40px: 2.5rem;
$lineHeight32px: 2rem;
$lineHeight28px: 1.75rem;
$lineHeight24px: 1.5rem;
$lineHeight20px: 1.125rem;
// colors

$black: #000000;
$white: #ffffff;
$red: #ff817e;

//text-color
$darkGrey: rgba(79, 88, 107, 1);
$lightGrey: rgba(139, 146, 171, 1);

// bg-color
$lightGreen: rgba(150, 255, 92, 0.3);
$mind: rgba(92, 255, 237, 0.3);
$lightBlue: rgba(92, 168, 255, 0.3);
$darkBlue: #3B455A;
$lightRed: rgba(255, 97, 97, 0.3);
$lightPurple: rgba(183, 92, 255, 0.3);

//arrowColor
$violet: rgba(127, 111, 199, 1);

//border
$border: 3px dotted rgba(129, 103, 227, 1);

//button-color
$buttonColor: linear-gradient(236.84deg, #9C8BEA 1.49%, #544695 105.35%);
