@import '../styles.scss';

.footer {
  margin-top: 4.5rem;
  background-color: $darkBlue;
    & div {
      font-size: $font_14px;
      line-height: $lineHeight20px;
      color: $white;
      text-align: center;
      padding: 4rem 0 2rem 0;
    }
}
